<nav>
    <ul>
        <li><a href="/Home/Index">Home</a></li>
        <li><a href="/Home/Sobre">Sobre</a></li>
        <li><a href="/Home/Ajuda">Ajuda</a></li>
        <li><a href="/Home/Create">Create</a></li>
    </ul>
</nav>